.jexcel > thead > tr > td {
  font-family: Arial;
  font-size: 0.65rem;
  background-color: #3c4b63;
  color: white;
}
.jexcel > tbody > tr > td {
  font-family: Arial;
  font-size: 0.75rem;
  padding: 0px;
  line-height: 1.6em;
}
.jexcel > thead > tr > td.selected {
  color: white;
  background-color: #385f73;
}
.jexcel > thead > tr.jexcel_nested > td {
  background-color: #385f73 !important;
  font-family: Arial;
  font-size: 0.9rem;
  padding: 0px;
  line-height: 2em;
  color: white;
}
.jexcel > tbody > tr > td.userEditCell {
  color: black !important;
  background-color: #78ffb7 !important;
}
.fade-enter {
  /* starting style */
  opacity: 0;
}
.fade-enter-active {
  /* entering style */
  transition: opacity 0.25s ease-out;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.slide-enter-active {
  transition: 0.75s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.overallContainer::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 6px;
}

.overallContainer::-webkit-scrollbar-track {
  background: #eceff1; /* color of the tracking area */
}

.overallContainer::-webkit-scrollbar-thumb {
  background-color: #385f73; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #eceff1; /* creates padding around scroll thumb */
}

.dviCol::-webkit-scrollbar-track {
  background-color: #eceff1;
  border-radius: 10px;
}

.dviCol::-webkit-scrollbar {
  width: 3px;
  background-color: #eceff1;
}

.dviCol::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
